.header {
    max-width: 1905px;
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 139px);
    background-color: rgba(0, 0, 0, 0.726);
    background-image: url('../../assets/home-image.jpg');
    background-blend-mode: color;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img{
    max-width: 75vh;
    min-width: 0;
    padding: 10px;
    height: auto;
}

.section_container {
    max-width: 1520px;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
    overflow-x: hidden;
}

.products_container {
    display: flex;
    padding: 30px 0;
}

.items_container {
    display: flex;
    margin-left: 100px;
    transform: translateX(0);
    transition: all .5s ease;
}

.items_container a {
    margin-right: 40px;
    margin-bottom: 40px;
}

.products_container button {
    position: absolute;
    padding: 2px 0;
    z-index: 10;
    width: 94px;
    height: 400px;
    border: none;
    background: rgba(255, 255, 255);
}

.products_container button i {
    color: #222;
    font-size: 4em;
    opacity: 0.7;
    cursor: pointer;
}

.products_container button:hover i {
    opacity: 1;
}

.next_btn {
    right: 0;
    top: 100px;
}

.prev_btn {
    transform: rotate(180deg);
    left: 0;
    top: 100px;
}

/* -- SECTION - COLLECTIONS --*/

.collection_container {
    max-width: 1905px;
    margin: 0 auto;
}

.row1,
.row2_col1,
.row2_col2 {
    position: relative;
    cursor: pointer;
}

.row1 {
    display: block;
}

.row2 {
    display: flex;
    gap: 5px;
}

.row2_col1,
.row2_col2 {
    flex-basis: 50%;
}

.row1 img,
.row2_col1 img,
.row2_col2 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: 0.5s;
}

.collection_container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    z-index: 1;
    color: rgb(233, 196, 30);
    text-shadow: 2px 2px 2px black;
    transition: 0.5s;
}

.row1:hover h2,
.row2_col1:hover h2,
.row2_col2:hover h2 {
    color: rgb(233, 162, 30);
    text-shadow: 5px 5px 5px black;
}

@media (max-width: 1520px) {
    .header {
        margin-bottom: 30px;
    }

    .section_container {
        padding: 0;
    }

    .section_container h1 {
        margin-left: 20px;
    }

    .products_container {
        display: block;
        padding-bottom: 0;
    }

    .products_container button {
        display: none;
    }

    .items_container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .items_container a {
        margin-right: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 660px) {
    .collection_container {
        display: none;
    }

    .items_container a {
        margin-right: 0;
    }
}