.cart_back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.658);
    z-index: 10;
    opacity: 0;
    transition: ease-in-out .5s;
    visibility: hidden;
}

.show_back {
    opacity: 1;
    visibility: visible;
}

.cart_window {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 425px;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    z-index: 100;
    opacity: 0;
    transition: ease-in-out .5s;
}

.cart_window h2 {
    background-color: #004483;
    padding: 5px 30px;
    color: white;
}

.show_window {
    transform: translateX(0);
    opacity: 1;
}

.products_cart {
    padding: 20px 0;
    flex: 1;
    overflow-y:auto;
}

.footer_cart {
    display: flex;
    flex-direction: column;
}

.footer_cart h3 {
    text-align: end;
    margin-bottom: 20px;
    margin-right: 10px;
}

.footer_cart span {
    font-size: 1.5em;
}

.footer_cart button {
    align-self: center;
    margin-bottom: 7px;
    padding: 13px 50px;
    border: none;
    background-color: #004483;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    width: 70%;
    border-radius: 50px;
    cursor: pointer;
}

.footer_cart button:hover {
    background-color: #003464;
}

@media (max-width: 425px) {
    .cart_window {
        width: 100vw;
        height: 90vh;
    }

    .footer_cart span,
    h2 {
        font-size: 1.2em;
    }

    .footer_cart button {
        padding: 10px 40px;
        font-size: 1em;
        width: 90%;
    }
}