.navbar {
    background-color: #004483;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header img {
    max-height: 80px;
    min-width: 50px;
}

.mobile_row1_icons {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    width: 100%;
}

.nav_items {
    flex-shrink: 1;
    display: flex;
    align-items: center;
}

.search {
display: flex;
}

.search input,
.search button {
    height: 40px;
    padding: 10px 20px;
    border: none;
}

.search input {
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    background-color: rgb(233, 233, 233);
}

.search button {
    width: 100px;
    color: #FFF;
    font-weight: bold;
    font-size: 0.9em;
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.search button:active {
    transform: scale(0.98);
}

.hamburger {
    background-color: inherit;
    border: none;
    font-size: 1.1em;
    display: none;
}

.hamburger,
.mobile_row1_icons a,
.nav_items a {
    margin-left: 20px;
    cursor: pointer;
}

.hamburger i,
.mobile_row1_icons a i,
.nav_items a i {
    display: inline-block;
    font-size: 1.8em;
    color: white;
}

.hamburger i:hover,
.mobile_row1_icons a i:hover,
.nav_items a i:hover {
    transform: scale(1.05);
}

.hamburger i:active,
.mobile_row1_icons a i:active,
.nav_items a i:active {
    transform: scale(0.9);
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    list-style: none;
    border-top: 2px solid #00386d;
}

.navbar ul li{
    padding: 0 50px;
    border: none;
    font-weight: bold;
    color: white;
    opacity: 0.8;
}

.logo a:hover,
.navbar ul li:hover{
    opacity: 1;
}

@media (max-width: 952px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 858px) {

    .hidden ul{
        display: none;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .mobile_row1_icons {
        display: flex;
    }

    .nav_items {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    .nav_items a {
        display: none;
    }

    .search {
        flex: 1;
    }

    .search input {
        width: 100%;
        max-width: 300px;
    }

    .hamburger {
        display: inline-block;
    }

    .navbar ul {
        flex-direction: column;
        justify-content: flex-start;
    }

    .navbar ul li {
        margin: 10px 0;
    }
}