.navbar {
    background-color: #004483;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header img {
    max-height: 80px;
    width: 100%;
}

.mobile_row1_icons {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    width: 100%;
}

.nav_items {
    position: relative;
    flex-shrink: 1;
    display: flex;
    align-items: center;
}

.search {
display: flex;
}

.search input,
.search button {
    height: 40px;
    padding: 10px 20px;
    border: none;
}

.search input {
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    background-color: rgb(233, 233, 233);
}

.search button {
    width: 100px;
    color: #FFF;
    font-weight: bold;
    font-size: 0.9em;
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.search button:active {
    transform: scale(0.98);
}

.hamburger {
    background-color: inherit;
    border: none;
    font-size: 1.1em;
    display: none;
}

.icon {
    position: relative;
}

.icon,
.hamburger,
.mobile_row1_icons a,
.nav_items a,
.user_icon i {
    margin-left: 20px;
    cursor: pointer;
}

.icon,
.hamburger i,
.mobile_row1_icons a i,
.nav_items a i,
.user_icon i {
    display: inline-block;
    font-size: 1.8em;
    color: white;
}

.icon:hover,
.hamburger i:hover,
.mobile_row1_icons a i:hover,
.nav_items a i:hover {
    transform: scale(1.05);
}

.icon:active,
.hamburger i:active,
.mobile_row1_icons a i:active,
.nav_items a i:active {
    transform: scale(1);
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    list-style: none;
    border-top: 2px solid #00386d;
}

.navbar ul li{
    padding: 0 50px;
    border: none;
    font-weight: bold;
    color: white;
    opacity: 0.8;
}

.logo a:hover,
.navbar ul li:hover{
    opacity: 1;
}

.user_icon {
    position: relative;
}

.user_icon ul:hover,
.user_icon:hover ul {
    display: flex;
    flex-direction: column;
}

.user_icon ul {
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -50px;
    width: 120px;
    padding: 0;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    z-index: 2;
}

.user_icon ul li {
    color: #111;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.user_icon ul li a {
    color: #111;
    margin: 0;
    padding: 0;
}

.user_icon li:hover {
    background-color: rgb(211, 212, 255);
}

.icon span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -12px;
    right: -14px;
    width: 23px;
    height: 23px;
    background-color: chocolate;
    color: white;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
}

@media (max-width: 858px) {

    .hidden ul{
        display: none;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .mobile_row1_icons {
        display: flex;
    }

    .nav_items {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    .nav_items div i {
        display: none;
    }

    .nav_items a {
        display: none;
    }

    .nav_items div span {
        display: none;
    }

    .search {
        flex: 1;
    }

    .search input {
        width: 100%;
        max-width: 300px;
    }

    .hamburger {
        display: inline-block;
    }

    .navbar ul {
        flex-direction: column;
        justify-content: flex-start;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .search input,
    .search button {
        padding: 5px;
    }

    .search button {
        width: 60px;
        font-size: 0.8em;
    }
}